* {
    box-sizing: border-box;
}

.favoriteHeader {
    
}

#stuff {
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
    background-color: rgb(159, 188, 241);
}

.caughtCards{
    display: flex;
}

.pokeCard {
    display: inline-block;
    width: 300px;
    margin: 90px 0 0 150px;
    border: solid 20px yellow;
  }