* {
    box-sizing: border-box;
}

.favoriteHeader {
    
}

#stuff {
    font-size: 100px;
    color: black;
    display: flex;
    justify-content: center;
    background-color: rgb(159, 188, 241);
}

.caughtCards{
    display: flex;
}

#pokeCard2 {
    display: flex;
    margin: 0 20px;
    border: solid 20px yellow;
}