* {
  box-sizing: border-box;
}

header {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.BcnFxRI9j19j5XVX3k6AfQHaDd&pid=15.1");
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  padding: 15px;
}

body {
  background-color: rgb(159, 188, 241);
  height: 100mh;
}

.hero {
  text-align: center;
}

#tile {
  justify-content: center;
}

.favHtml {
  background-color: rgb(159, 188, 241);
  height: 100vh;
}

#searchMenu {
  display: flex;
  justify-content: center;
}

#searchBar,
#favorites {
  margin: 30px 0;
}

#inputForm {
  margin-top: 30px;
}

#pokeball {
  background: rgb(159, 188, 241);
  border: none;
  padding: 20px;
}

.pokedex {
  background: rgb(159, 188, 241);
  border: none;
  padding: 10px;
}

#pokeSelect {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.result_box {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 100%;
  height: 100vh;
  background: rgb(159, 188, 241);
  border-radius: 8px;
  opacity: 0;
  z-index: 99;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 8px;
  padding: 25px 30px;
  border-radius: 8px;
}

.result_box.activeResult {
  z-index: 5;
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.center {
  display: flex;
  justify-content: center;
}

#selectedPokemon {
  font-weight: 500;
  font-size: 100px;
  text-align: center;
  color: rgb(112, 112, 112);
}

#buttons {
  text-align: center;
}

#favoriteBtn {
  font-size: 40px;
  border: none;
  background-color: rgb(159, 188, 241);
  display: inline-block;
  color: rgb(243, 36, 36);
}

#returnBtn {
  font-size: 40px;
  border: none;
  background-color: rgb(159, 188, 241);
  display: inline-block;
  color: darkblue;
}

#pokeCard {
  display: inline-block;
  width: 300px;
  margin: 10px;
  border: solid 20px yellow;
}

.cardName {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 169);
}

.cardImg {
  background-color: rgb(255, 255, 169);
  border: none;
}

.stats {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 169);
}
.cardName {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(255, 255, 169);
}
.giph {
  display: flex;
  flex-wrap: wrap;
}

.giphHolder {
  display: flex;
}

.giph img {
  padding: 5%;
  height: 250px;
  width: 300px;
}

#stuff {
  font-size: 100px;
  color: black;
  display: flex;
  justify-content: center;
  background-color: rgb(159, 188, 241);
}

.caughtCards {
  display: flex;
}

#pokeCard2 {
  display: flex;
  margin: 20px;
  border: solid 20px yellow;
}

@media screen and (max-width: 768px) {
  .result_box {
    flex-direction: column;
  }
  #selectedPokemon {
    font-size: 80px;
  }
  #pokeCard {
    margin: 4px 0 0 0;
  }
  .caughtCards {
    flex-wrap: wrap;
  }
  .giphys {
    width: 100%;
  }
  .giph img {
    margin: 2px;
    padding: 0;
    height: 75px;
  }
}

@media screen and (max-width: 576px) {
  .result_box {
    flex-direction: column;
  }
  #selectedPokemon {
    font-size: 40px;
  }
  #pokeCard {
    margin: 4px 0 0 0;
  }
  .caughtCards {
    flex-wrap: wrap;
  }
  .giphys {
    width: 100%;
  }
  .giph img {
    margin: 2px;
    padding: 0;
    height: 75px;
  }
}
