header {
  background-image: url("https://tse1.mm.bing.net/th?id=OIP.BcnFxRI9j19j5XVX3k6AfQHaDd&pid=15.1");
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  margin: 30px;
}

#searchMenu {
  display: flex;
  justify-content: center;
}

#searchBar,
#favorites {
  margin: 30px 0;
}

/* changed to ID to not crowed the class, pokeball is not functioning because  */

#pokeball {
    background: white;
    border: none;
    padding: 20px;
}

.pokedex {
    background: white;
    border: none;
    padding: 10px;
}

#pokeSelect {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.result_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  background: yellow;
  border-radius: 8px;
  /* opacity: 0; */
  z-index: 99;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  border-radius: 8px;
  padding: 25px 30px;
  border-radius: 8px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

#selectedPokemon {
  font-weight: 500;
  font-size: 100px;
}

.left-align {
  display: flex;
  justify-content: flex-start;
}
